.choice-card {
    width: 18rem;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translateY(0);
    background-color: #343a40 !important;
}

.choice-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
    background-color: #2a7ed1 !important; 
}

/* Remove link decoration */
.choice-link {
    text-decoration: none;
    color: inherit;
}

.choice-link:hover {
    text-decoration: none;
    color: inherit;
}