.auth-page-wrapper .hidden {
  display: none;
}
.auth-page-wrapper .code-inputs {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}
.auth-page-wrapper .code-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.auth-page-wrapper .code-input:focus {
  border-color: #007bff;
  outline: none;
}

.auth-page-wrapper .form-signup {
  
}
.auth-page-wrapper .form-login .content {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 600px;
    height:700px;
    border-radius:10px ;
    padding: 60px;
    
}
.auth-page-wrapper .form-reset-password .content {
  background-color: white;
  
  justify-content: center;
  width: 600px;
  height:700px;
  border-radius:10px ;
  padding: 100px;
  
}

.auth-page-wrapper .form-signup .content {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 600px;
  height:700px;
  border-radius:10px ;
  padding: 60px;
  
}

.auth-page-wrapper  .redr {
  color: rgb(110, 29, 29);
  text-decoration: underline;
  cursor: pointer;
}
.auth-page-wrapper .data {
    width: 400px;
}

.auth-page-wrapper .password-container {
  position: relative;
  
}

.auth-page-wrapper #toggle-password,
.auth-page-wrapper #toggle-password2 {
  position: absolute;
  right: 10px;
  top: 75%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #555;
}
.auth-page-wrapper form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);  /* Height + border (1px * 2) */
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #505050;
    border-radius: 8px;
    background: #fff;
    color: black;
    resize: none;
    outline: none;
  }
  
  input[type="text"]:focus ,
  input[type="password"]:focus{
    border-color: #00bafa;
  }
  
  input[type="text"]:focus + label[placeholder]:before,
  input[type="text"]:valid + label[placeholder]:before,
  input[type="password"]:valid + label[placeholder]:before,
  input[type="password"]:focus + label[placeholder]:before {
    transition-duration: 0.2s;
    transform: translate(0, -1.5em) scale(0.9, 0.9);
  }
  
  input[type="text"]:invalid + label[placeholder][alt]:before,
  input[type="password"]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }
  
  label[placeholder] {
    display: block;
    pointer-events: none;  /* Allow clicking through label */
    line-height: 1.25em;
    margin-top: calc(-3em - 2px); /* Adjust according to input height */
    margin-bottom: calc(3em + 2px - 1em);
  }
  
  label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .submit {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-position: 0 0;
    border: 1px solid #FEE0E0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 12px;
   
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
  }
  
  .submit:active,
  .submit:hover,
  .submit:focus {
    outline: 0;
  }
  
  
  .submit:active {
    background-color: #ff3b29;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }
  
  .submit:hover {
    background-color: #6e6a6a;
    border-color: #ff3737;
  }
  
  .submit:active:hover,
  .submit:focus:hover,
  .submit:focus {
    background-color: #f74535;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }

  .divider {
    display: flex;
    align-items: center;
    width: 100%; /* Tùy chỉnh độ rộng */
  }
  
  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #999; /* Đường kẻ */
    margin: 0 10px; /* Khoảng cách với chữ */
  }
  
  .divider span {
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
  }

  .login-buttons {
    width: 100%;
    
  }

  .btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid transparent;
    
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    background-color: white;
  }

  .btn-social i {
    margin-right: 10px;
    font-size: 22px;
  }

  .btn-google {
    border-color: #f4b400;
  }

  .btn-google:hover {
    background-color: #f4b400;
    color: white;
  }

  .btn-facebook {
    border-color: #1877f2;
  }

  .btn-facebook:hover {
    background-color: #1877f2;
    color: white;
  }

  .btn-apple {
    border-color: #910808;
  }

  .btn-apple:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }

  .auth-page-wrapper .sm-txt {
  font-size: 12px;
}
.auth-page-wrapper .check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.auth-page-wrapper .check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.auth-page-wrapper .check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #C8CCD4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.auth-page-wrapper .check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.auth-page-wrapper .check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.auth-page-wrapper .check:hover:before {
  opacity: 1;
}

.auth-page-wrapper .check:hover svg {
  stroke: #4285F4;
}

.auth-page-wrapper #cbx:checked + .check svg {
  stroke: #4285F4;
}

.auth-page-wrapper #cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

.auth-page-wrapper #cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
  
@media screen and (min-width: 960px) {
     body {
        background-image: url(/imgs/mobile-gradient.png);
        background-size: cover;         
        background-position: center;    
        background-repeat: no-repeat;   
        min-height: 100vh;              
        margin: 0; 
    }
}
.auth-page-wrapper .hidden {
  display: none;
}

.auth-page-wrapper .code-inputs {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.auth-page-wrapper .code-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-page-wrapper .code-input:focus {
  border-color: #007bff;
  outline: none;
}
