.wrapper {
    display: flex;
    width: 100%;
  }
  
  .content {
    flex: 1;
    margin-left: 78px; /* Width of collapsed sidebar */
  }
  
  .top {
    width: 100%;
    height: 100px;
    background-color: #cf6767;
  }
  
  /* When sidebar is open */
  .sidebar.open + .content {
    margin-left: 240px; /* Width of expanded sidebar */
  }